# Byte-compiled / optimized / DLL files
__pycache__/
processing/__pycache__/*
*.py[cod]

# virtual env
venv/
.venv/
.idea/
.idea

# packages
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

/sessions/*

*config.yaml
*logs*
data/in/
data/out/

!/data/in/git_keep.txt
!/data/out/git_keep.txt

*credentials.json
*token.json
*.session*